$primaryColor: #FCD202;
$primaryHoverColor: #212332;
$textColor: #a2a3aa;
$textHoverColor: #ffffff;

// Side nav container
.container {
  width: 200px;
  background: $primaryColor;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: none;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;

  a {
    color: $textColor;
    text-decoration: none;
    transition: 0.1s ease-in-out;

    &:hover {
      color: $textHoverColor;
    }
  }
}

// collapsed side nav container
.collapsed {
  width: 55px;

  .logoWrapper {
    width: 30px;
    overflow: hidden;
  }

  .navLinks {
    a {
      text-align: center;
      padding: 15px;
    }

    i {
      margin: 0;
    }
  }

  .linkName {
    opacity: 0;
  }

  .indentedIcon {
    margin: 0 !important;
  }
}

.logo {
  background: $primaryColor;
  margin-bottom: 20px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: $primaryHoverColor;
  }

  img {
    width: 160px;
    height: auto;
    border: 0;
  }
}

// nav links container
.navLinks {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  // side nav item icon
  i {
    margin-right: 10px;
  }

  // nav item link container
  a {
    padding: 15px 30px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;

    &:hover {
      background: $primaryHoverColor;
    }
  }
}

a.activeNavItem {
  background: $primaryHoverColor;
  color: #3cb4e5;
}

// indented nav item icon
.indentedIcon {
  margin-left: 25px !important;
}

.copyright {
  color: $textColor;
  font-size: 12px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;

  div {
    margin-top: 5px;
  }
}
